.italic-text {
	text-align:center;
	font-size:40px;
	font-style:italic;
}

.rigth-text {
	text-align:right;
}

.double-border {
	border-style:double;
}

.shadow-text {
	text-shadow: 2px 2px 8px #0000FF;
}

